body{
     width: 1100px;
     height: 1200px;
}

.ponkylogo{
    width: 70px;
    height: 100px;
    padding: 10px;
}

sub{
    margin:  0px -85px;
    font-style: italic;
    color:red;
}

h1{
    margin: -75px 0px 0px 500px;
    font-family: fantasy;
    color: lightcoral;
}

div{
    margin: 75px;
}

a{
    padding: 20px;
    font-size: 20px;
}